<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js"></script>
<script src="/js/search.js"></script>

  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" . }}

    <main class="container my-4">
      <!-- Add breadcrumbs, but don't show on homepage -->
      {{ if ne .Kind "home" }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>