{{ define "main" }}
<div class="container my-4">
  <h1>{{ .Title }}</h1>
  <p>{{ .Description }}</p>
  
  <div class="chart-container">
    <canvas id="stackedBarChart"
            data-labels='{{ .Params.chart.labels | jsonify }}'
            data-datasets='{{ .Params.chart.datasets | jsonify }}'>
    </canvas>
  </div>
  
  <div class="content mt-4">
    {{ .Content }}
  </div>
</div>

<!-- Add comments section -->
{{ partial "comments.html" . }}

<!-- Make sure this is at the end of the "main" block -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/stacked-bar-chart.js"></script>
{{ end }}